@{ ViewBag.Title = "Home Page"; }
<div class="jumbotron">
    <h1>Gorditos S.A de R.L</h1>
    <p class="lead">
        Comprometidos con el desarrollo del campo, proveemos alimento de calidad para todos.
      </p>
</div>

<div class="row">
    <div class="card col-md-4">
        <img src="../../imagenes/vacas.png" class="card-img-top" alt="vacas" style="width: 100%;">
        <div class="card-body">
            <p class="card-text">En Contegral llevamos casi 70 años en el mercado produciendo alimento balanceado para animales. La nutrición animal es nuestra prioridad, por eso basamos nuestro trabajo en los cinco pilares estratégicos con los que marcamos la diferencia: calidad, precio justo, asistencia técnica, oportunidad en la entrega y calidad en la relación comercial, todo para cumplir con nuestro propósito superior.</p>
        </div>
    </div>
    <div class="card col-md-4">
        <img src="../../imagenes/cerdos.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
            <p class="card-text">Asistimos y asesoramos a nuestros clientes optimizando su rentabilidad, a través de la aplicación de las mejores prácticas en alimentación, genética, sanidad, producción, manejo y control de registros; apoyándonos en el uso de tecnología de punta.</p>
        </div>
    </div>
    <div class="card col-md-4">
        <img src="../../imagenes/ovejas.jpg"class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
            <p class="card-text">Ofrecemos productos orientados hacia la eficiencia, estabilidad y trazabilidad; buscando la mejor relación costo beneficio para nuestros clientes, asegurando disponibilidad en cantidades y referencias gracias a nuestras cuatro plantas de producción y dos CEDIS, ubicados en lugares estratégicos del país, los cuales puedes verlos en la zona Cóntactenos de esta página.</p>
        </div>
    </div>
</div>